/* Add responsive styles for screens up to 1200px wide */
@media screen and (max-width: 1200px) {
  /* Header width adjustment */
  header {
      width: 95%;
      transition: 0.5s linear;
  }

  /* Menu and song slide width adjustment */
  header .menu_slide, header .song_slide {
      width: 30%;
  }

  header .song_slide {
      width: 70%;
  }

  /* Adjust the height of song_slide and content */
  header .song_slide,
  header .content {
      height: 18%;
  }
}

/* Add responsive styles for screens up to 930px wide */
@media screen and (max-width: 930px) {
  /* Menu slide transformation for smaller screens */
  header .menu_slide {
      z-index: 999;
      width: 40%;
      position: absolute;
      transition: 1s linear;
      transform: translateX(-100%);
  }

  /* Adjust song slide width for smaller screens */
  header .song_slide {
      width: 100%;
  }

  /* Position the master play section at the bottom */
  header .master_play {
      position: absolute;
      bottom: 0;
  }

  /* Style adjustments for the menu button in smaller screens */
  header .menu_side h6 {
      position: absolute;
      left: 185px;
      bottom: 105px;
      width: 40px;
      height: 40px;
      background: #111727;
      border-radius: 0px 10px 10px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      cursor: pointer;
      transition: 1s linear;
  }
}